.color-text-2 {
  color: var(--color-text-2);
}
.color-text-3 {
  color: rgb(var(--color-text-3));
}
.color-text-success {
  color: var(--color-text-success);
}
.color-text-inverse {
  color: var(--color-text-inverse);
}
.color-background-3 {
  background-color: var(--color-base-background-3);
}

.bubble-inactive {
  background: #F8F8F8;
}

.bubble-active {
  background: #E5E5E5 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 6px #00000029;
}

.product__info-container {
  top: 287px;
  left: 1051px;
  width: 475px;
  height: 275px;
  padding: 18px 23px 25px 28px;
  box-shadow: 0px 3px 20px #00000029;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
}
.border-1-solid {
  border: 1px solid #d5d5d5;
}

.radius-3 {
  border-radius: 3px;
}

.radius-5 {
  border-radius: 5px;
}

.radius-full {
  border-radius: 50%;
}

.radius-r-5 {
  border-radius: 0px 5px 5px 0px;
}

.radius-l-5 {
  border-radius: 5px 0px 0px 5px;
}

.box-shadow-3-20 {
  box-shadow: 0 3px 20px #00000029;
}

.overflow-hidden {
  overflow: hidden;
}
.h-10 {
  height: 10px;
}

.h-22 {
  height: 22px;
}

.h-23 {
  height: 23px;
}

.h-52 {
  height: 52px;
}

.h-57 {
  height: 57px;
}

.min-h-275 {
  min-height: 275px;
}

.max-h-100 {
  max-height: 100px;
}

.max-h-480 {
  max-height: 480px;
}


.border-0 {
  border: 0px;
}

.text-center {
  text-align: center;
}

.w-10 {
  width: 10px;
}

.w-480 {
  width: 480px;
}

.w-full {
  width: 100%;
}

.w-23 {
  width: 23px;
}

.w-57 {
  width: 57px;
}

.max-w-100 {
  max-width: 100px;
}

.max-w-13 {
  max-width: 13px;
}

.max-w-475 {
  max-width: 475px;
}

.max-w-1135 {
  max-width: 1135px;
}

.pt-18 {
  padding-top: 18px;
}

.pb-23 {
  padding-bottom: 23px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pl-28 {
  padding-left: 28px;
}

.pr-23 {
  padding-right: 23px;
}

.text-xs {
  font-size: 10px;
  line-height: 13px;
  font-style: normal;
  font-variant: normal;
  font-family: var(--font-body-family);
  letter-spacing: 0px;
}

.text-sm {
  font-size: 15px;
  line-height: 19px;
  font-style: normal;
  font-variant: normal;
  font-family: var(--font-body-family);
  letter-spacing: 0px;
}
.text-base {
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  font-variant: normal;
  font-family: var(--font-body-family);
  letter-spacing: 0px;
}

.text-xl {
  font-size: 25px;
  line-height: 30px;
  font-style: normal;
  font-variant: normal;
  font-family: var(--font-body-family);
  letter-spacing: 0px;
}

.text-lg {
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-variant: normal;
  font-family: var(--font-body-family);
  letter-spacing: 0px;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 600;
}

.mt-0 {
  margin-top: 0px;
}

.mt-auto {
  margin-top: auto;
}

.mt-1 {
  margin-top: 1px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-37 {
  margin-top: 37px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-55 {
  margin-top: 55px;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}
.mr-5 {
  margin-right: 5px;
}

.mr-7 {
  margin-right: 7px;
}
.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-7 {
  margin-left: 7px;
}

.ml-50 {
  margin-left: 50px;
}

.flex {
  display: flex !important;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.basis-33 {
  flex-basis: 33.333333%;
}

.grid-cols-1 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.gap-15 {
  gap: 15px;
}

.justify-items-center {
  justify-items: center;
}

.items-center {
  align-items: center;
}

.content-center {
  align-content: center;
}

.basis-full {
  flex-basis: 100%;
}

.button-color-background-1 {
  --color-foreground: var(--color-base-solid-button-labels);
  background-color: var(--color-base-background-1);
}

.button-color-background-2 {
  color: var(--color-text-inverse);
  background-color: rgb(var(--color-base-background-2));
}

.button-color-background-3 {
  color: var(--color-text-inverse);
  background-color: var(--color-base-background-3);
}

.dot-available {
  height: 15px;
  width: 15px;
  background-color: #25a525;
  border-radius: 50%;
  display: inline-block;
}

.text-success {
  color: var(--color-text-success);
}

.desktop-450 {
  width: 450px;
  height: 450px;
}

.hidden-desktop {
  display: none
}

@media (max-width: 640px) {
html, body {
  overflow-x: hidden!important;
}

  .hidden-mobile {
    display: none !important;
  }

  .mob-max-h-48 {
    max-height: 48px;
  }
  .mob-max-h-350 {
    max-height: 350px !important;
  }

  .mob-max-w-48 {
    max-width: 48px;
  }
  .mob-max-w-350 {
    max-width: 350px;
  }

  .mob-mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .mob-mx-20 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .mob-mb-29 {
    margin-bottom: 29px;
  }

  .mob-mr-25 {
    margin-right: 25px;
  }

  .mob-flex-col {
    flex-direction: column;
  }

  .mob-flex-row {
    flex-direction: row;
  }

  .mob-justify-center {
    justify-content: center;
  }

  .mob-mt-36 {
    margin-top: 36px;
  }

  .hidden-desktop {
    display: block;
  }

  .mob-text-base {
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    font-variant: normal;
    font-family: var(--font-body-family);
    letter-spacing: 0px;
  }
}
