.color-text-2 {
  color: var(--color-text-2);
}
.color-text-success {
  color: var(--color-text-success);
}
.color-text-inverse {
  color: var(--color-text-inverse);
}
.color-background-3 {
  background-color: var(--color-base-background-3);
}

.product__info-container {
  top: 287px;
  left: 1051px;
  width: 475px;
  height: 275px;
  padding: 18px 23px 25px 28px;
  box-shadow: 0px 3px 20px #00000029;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
}

.radius-3 {
  border-radius: 3px;
}

.radius-5 {
  border-radius: 5px;
}

.overflow-hidden {
  overflow: hidden;
}

.h-22 {
  height: 22px;
}

.h-23 {
  height: 23px;
}

.h-52 {
  height: 52px;
}

.max-h-100 {
  max-height: 100px;
}

.border-0 {
  border: 0px;
}

.text-center {
  text-align: center;
}

.w-480 {
  width:480px;
}

.w-full {
  width: 100%;
}

.w-23 {
  width: 23px;
}

.max-w-100 {
  max-width: 100px;
}

.pb-23 {
  padding-bottom: 23px;
}

.text-xs {
  font-size: 10px;
  line-height: 13px;
  font-style: normal;
  font-variant: normal;
  font-family: var(--font-body-family);
  letter-spacing: 0px;
}

.text-sm {
  font-size: 15px;
  line-height: 19px;
  font-style: normal;
  font-variant: normal;
  font-family: var(--font-body-family);
  letter-spacing: 0px;
}
.text-base {
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  font-variant: normal;
  font-family: var(--font-body-family);
  letter-spacing: 0px;
}

.text-xl {
  font-size: 25px;
  line-height: 30px;
  font-style: normal;
  font-variant: normal;
  font-family: var(--font-body-family);
  letter-spacing: 0px;
}

.text-lg {
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-variant: normal;
  font-family: var(--font-body-family);
  letter-spacing: 0px;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 600;
}

.mt-auto {
  margin-top: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px
}

.mb-15 {
  margin-bottom: 15px;
}

.flex {
  display: flex !important;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}


.grid-cols-1 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.gap-15 {
  gap: 15px;
}

.justify-items-center {
  justify-items: center;
}

.items-center {
  align-items: center;
}

.content-center {
  align-content: center
}

.basis-full {
  flex-basis: 100%;
}

.button-color-background-1 {
  --color-foreground: var(--color-base-solid-button-labels);
  background-color: var(--color-base-background-1);
}

.button-color-background-2 {
  color: var(--color-text-inverse);
  background-color: rgb(var(--color-base-background-2));
}

.button-color-background-3 {
  color: var(--color-text-inverse);
  background-color: var(--color-base-background-3);
}

.dot-available {
  height: 15px;
  width: 15px;
  background-color: #25a525;
  border-radius: 50%;
  display: inline-block;
}

.text-success {
  color: var(--color-text-success);
}

.desktop-450 {
  width: 450px;
  height: 450px;
}

@media all and (max-width: 767px) {
}
